<body class="body">
  <div class="container">
    <div class="row">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="agregarProducto()">
        <mat-card class="card">
          <h1 class=" text-center">Agregar Producto</h1>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="ModeloProducto.name" placeholder="Nombre" formControlName="name"
              required autofocus>
            <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="ModeloProducto.price" placeholder="Precio" formControlName="price"
              required autofocus>
            <mat-error *ngIf="addressForm.controls['price'].hasError('required')">
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="ModeloProducto.active" placeholder="Estado" formControlName="active"
              required autofocus>
            <mat-error *ngIf="addressForm.controls['active'].hasError('required')">
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput [(ngModel)]="ModeloProducto.userid" placeholder="Agregado Por"   formControlName="userid"
              required autofocus>
            <mat-error *ngIf="addressForm.controls['userid'].hasError('required')">
              <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>

          <mat-card-actions style="text-align: center;">
            <button mat-raised-button [disabled]="addressForm.invalid" class="btn btn-info"
              type="submit">Agregar</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>

  </div>
</body>

