<body>
<div class="container">
  <div class="row">
    <mat-card class="card">
  <mat-card-content>

  <mat-card-actions>
    <button mat-raised-button routerLink="/tablaInventario" color="primary" type="submit">Inventario</button>
  </mat-card-actions>

  <mat-card-actions>
    <button mat-raised-button routerLink="/agregarInventario" color="primary" type="submit">Ingresar producto</button>
  </mat-card-actions>

  <mat-card-actions>
    <button mat-raised-button routerLink="/tablaEgreso" color="primary" type="submit">Egresos</button>
  </mat-card-actions>

  <mat-card-actions>
    <button mat-raised-button  color="primary" type="submit">Facturacion</button>
  </mat-card-actions>


  <mat-card-actions>
    <button mat-raised-button routerLink="/register" color="primary" type="submit">Agregar usuarios</button>
  </mat-card-actions>

</mat-card-content>
</mat-card>
</div>
</div>
</body>
